   body {
	background-color: #FFFFFF;
   
}

#wrapper{


margin: 0 auto;

}
h1 {

	font-family:"Didot", serif;
	font-style: normal;
    color: #DAA520;
    text-align: center;
    font-size: 6em;
    letter-spacing: 30px;
    font-weight: normal;
    
}
p {
	 font-family:"Century Gothic", sans-serif;
	 text-align: center;
	 text-transform: uppercase;
	 color: #DAA520;
	 font-size: 2em;
	 font-weight: lighter;
	 letter-spacing: 10px;
	 margin-top: -40px;
}

.searchbar{
	font-family: "Gill Sans" , sans-serif;
	letter-spacing: 5px;
	display:block;
	margin-top:-100px;
	margin-bottom:50px;
	padding:30px;
}



nav {
	background-color: #f9eff2;
	font-family: "Century Gothic" , sans-serif;
	text-align: center;
	padding:1%;
}

a {
	color: #778899;
	text-decoration: none;
	font-size: 1.7em;
	padding: 3.5%
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


img{

	width: 100%;
	
}


.mainimg {

	display: block;
	margin: 0 auto;
}

h2{

	font-family:"Century Gothic", sans-serif;
	color: #778899;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
	line-height: 34px;
	letter-spacing: 3px;
	margin: 7% auto;
	width:80%;

	
}

#two_column {
    background-color: #f9eff2;

}

#left {

    float: left;
    width: 100%;
    margin: 0 auto
}

.img_article {

	margin: 0 auto;
	
}

#right {
	display: inline;
	padding: 3%;
	margin: 7% auto;
	font-size: 0.8em;
    
}

h4 {
	font-family:"Century Gothic", sans-serif;
	color: #778899;
	text-align: center;
	font-weight: bold;
	letter-spacing: 3px;
	font-size: 2.5em;
	line-height: 70px;
}
.article_1{
	font-family:"Century Gothic", sans-serif;
	color: #778899;
	text-align: center;
	font-weight: normal;
	letter-spacing: 3px;
	font-size: 1.7em;
	line-height: 50px:;
}

.button_1{
    font-family: "Gill Sans" , sans-serif;
	letter-spacing: 5px;
	display:block;
	margin-top:-100px;
	margin-bottom:50px;
	padding:30px;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#three {
	
    display: inline;
	padding: 2%
	width:100%;
	margin:0 auto;

}


.fruity {

	width: 30%;
	padding: 1%;

}

h5 {
	font-family: "Century Gothic" , sans-serif;
	color: #DAA520;
	text-align: center;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: lighter;
}

h3 {
	font-family:"Century Gothic", sans-serif;
	 text-align: center;
	 text-transform: capitalize;
	 color: #DAA520;
	 font-size: 2.7em;
	 font-weight: bold;
	 letter-spacing: 3px;
}

#final {
	background-color: #f9eff2;
	font-family: "Century Gothic" , sans-serif;
	text-align: center;
	padding:1%;

 


.contact{
    color: #778899;
	text-decoration: none;
	font-size: 1.7em;
	padding: 1.5%
	margin: 0 auto;

}

@media only screen and (min-width: 320px) and (max-width: 480px) {.fruity {
	float: none;
	width: auto;
	margin: auto;
}


